.palette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    transition: background-color 2s;

    .menu{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
        min-width: 80vw;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        border-radius: 15px;
        max-width: 90%;


        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: scroll;
            padding: 20px;
            box-sizing: border-box;
        }

        .btnNew{
            position: absolute;
            background-color: #60ad60;
            width: 50px;
            height: 50px;
            right: 0;
            top: 0;
            translate: 50% -50%;
            margin: 0;
        }
    }
}
