.paletteLine{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    height: 90%;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    background-color: #212020;
    color: #ffffff;
    transition: all 0.3s;

    h3{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .bottomCard{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
}

.btnClass{
    display: flex;
    justify-content: space-between;
    align-content: center;

    button{
        margin: 0 5px;
        min-width: 40px;
    }
}
