*{
  margin: 0;
  font-family: NeueHaasGrotesk,sans-serif;
}

button {
  padding: 10px;
  border: None;
  border-radius: 15px;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 1.2em;
  transition: 0.3s;

  &:hover{
    scale: 1.1;
  }
}



